fastapi
uvicorn
pydantic
python-multipart
pytesseract
opencv-python
pillow
numpy
fuzzywuzzy
python-Levenshtein
spacy
starlette
requests
scipy
typer
tqdm
blis
cymem
preshed
thinc
srsly
wasabi
catalogue
confection
langcodes
spacy-legacy
spacy-loggers
cloudpathlib
wrapt
smart-open
rich
