fastapi
uvicorn
pydantic
python-multipart
pytesseract
opencv-python
pillow
numpy
fuzzywuzzy
python-Levenshtein
spacy
starlette
requests
scipy
typer
tqdm
blis
cymem
preshed
thinc
srsly
wasabi
catalogue
confection
langcodes
spacy-legacy
spacy-loggers
cloudpathlib
wrapt
smart-open
rich
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl

